:root{
  --main-color: #0096ff;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: var(--main-color);
}

a:hover{
  text-decoration: underline;
}

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100vh;
  background-image: radial-gradient(circle, #1e1e42, rgb(58, 57, 57));
  overflow: hidden;
}

header{
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
}

.logo-container img{
  margin: 10px;
  width: 200px;
}

.container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  max-width: 500px;
  height: 500px;
  background: rgb(0, 0, 0, 0.6);
  color: #fafafa;
  border-radius: 5px;
  padding: 30px 60px;
  box-shadow: 0 0 0.1rem silver; 
}

h2{
  display: block;
  padding: 20px 0;
  text-align: center;
}

form{
  padding: 0 20px;
}

.input-field{
  border: 2px solid rgb(225, 225, 231);
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0;
  color: #fafafa;
}

.input-field input{
  margin: 0 10px;
  font-size: 0.8rem;
  outline: none;
  border: none;
  color: #fafafa;
  background-color: transparent;
}

button{
  position: relative;
  top: 5%;
  width: 100%;
  height: 40px;
  border:none;
  background: var(--main-color);
  color: #fafafa;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

button:hover{
  box-shadow: 0 0 0.5rem var(--main-color);
  transition: 0.3s;
}

.visible-password{
  position: relative;
}

.fa-eye{
  position: absolute;
  right: 5%;
  top: 25%;
  cursor: pointer;
}

.switch-link{
  margin: 20px 0;
  text-align: center;
  font-size: 0.9rem;
}

.switch-link a{
  font-weight: bold;
}

.checkbox{
  margin: 20px 0;
  max-width: 100%;
}

.checkbox input{
  margin: 0 5px;
}

.checkbox label{
  font-size: 0.85rem;
}

.forgot-pw a{
  position: relative;
  display: inline;
  float: right;
  font-size: 0.8rem;
  margin: 0;
  color: #a6a6a6;
  cursor: pointer;
}

/* RESPONSIVE */

@media (max-width:600px){
  body{
    background: rgb(20, 20, 20);
  }

  .container{
    box-shadow: none;
    background: none;
    padding:0;
  }
  .input-field{
    width: 350px;
  }
}

@media (max-width:400px){
  .input-field{
    width: 80vw;
  }
}