:root{
  --main-color: #0096ff;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin:0; 
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #181616;
  max-width: 100%;
}

header{
  display: flex;
  width: 100%;
  height: 70px;
  margin: auto;
  align-items: center;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  z-index: 10;
  background-image: linear-gradient(to bottom,rgb(60, 57, 57), rgb(1, 1, 1));
}

button {
  padding: 0.2em 0.5em;
}

.home-button {
  display: none;
}

.logo-container, 
.nav-links, 
.searchbar, 
.account{
  display: flex;
}

.logo-container img{
  width: 10rem;
  align-items: center;
  margin-top: 5px;
  margin-left: 10px;
}

nav{
  flex:2;
  text-align: center;
}

.nav-links{
  list-style: none;
  justify-content: flex-start;
}

.nav-link{ 
  text-decoration: none;
  margin: 0.9rem;
  color: #fafafa;
  font-weight: 500;
  text-transform: uppercase;
}

.searchbar{
  align-items: center;
  margin: 0.8rem;
  background: transparent;
}

.search-input{
  height: 2rem;
  width: 13rem;
  border: transparent;
  border-radius: 20px;
  outline: none;
  padding: 0px 20px;
  font-size: 0.8rem;
  transition: all 0.3s ease-in-out;
}

.search-input:hover{
 opacity: 0.9;
}

.search-btn{
  cursor: pointer;
  border: transparent;
  background: transparent;
  outline: none;
}

.search-btn .fa-search{
  color: #fafafa;
}

.search-btn:hover .fa-search{
  opacity: 0.9;
}

.account{
  border: 2px solid;
  border-radius: 20px;
  border: transparent;
  margin-left: 0 20px;
  padding: 3px;
  display: block;
  font-weight: 500;
  text-transform: uppercase;
}

.signup{
  text-decoration: none;
  color: #fafafa;
  margin-right: 20px;
  background-image: linear-gradient(220deg, rgba(65,226,210,255),rgba(97,158,225,255));
  padding: 8px;
  border-radius: 8px;
}

.signup:hover{
  box-shadow: 0 0 0.5rem var(--main-color);
}

.login{
  text-decoration: none;
  color: #fafafa;
  margin: 0 20px;
  border-radius: 40px;
}

.nav-link:hover, 
.login:hover{
  text-decoration: underline 3px var(--main-color);
  text-underline-position: under;
}

.container{
  margin: auto;
  background-color: black;
  color: #fafafa;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.next, 
.prev{
   position: absolute;
   background-color: rgba(0, 0, 0, 0.1);
   top: 50%;
   right: 30px;
   width: 50px;
   height: 50px;
   line-height: 50px;
   text-align: center;
   border-radius: 50%;
   cursor: pointer;
   font-size: 2rem;
   z-index: 1;
 }

.prev{
  left: 30px;
}

.next:hover,
.prev:hover{
  color: var(--main-color);
}

 .slide{
   width: 100%;
 }
 
 .slide.slick-slide{
  max-height: 90vh;
}

 .image-wrapper{
   position: relative;
 }

.featured-img{
  position: relative;
  width: 100%;
  height: auto;
  opacity: 0.5;
}

.featured-content{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.featured-content::before{
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0))
}

.featured-content-wrapper{
  position: relative;
  top: 20%;
  left: 100px;
  color:#fafafa;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featured-title{
  font-size: clamp(1rem, 2.5rem, 5vw);
  font-size: 5vw;
  font-weight: 900;
  max-width: 50%;
}

.featured-info{
  display: flex;
  position: relative;
  align-items: center;
  margin: 0 0 1.5rem;
  font-size: 0.85vw;
  /* transform: translateX(-50px); */
}

.featured-info span{
  display: inline-block;
  margin: 5px;
}

.featured-rating{
  color: var(--main-color);
}

.featured-rating .fa-star{
  margin: 5px;
}

.featured-detail{
  font-weight: 500;
}

.featured-desc{
  font-family: "Cairo", sans-serif;
  font-weight: 400;
  font-size: 1.3vw;
  line-height: 1.65rem;
  max-width: 80%;
}

.button{
  display: flex;
}

.play-btn-watch, 
.play-btn-info{
  cursor: pointer;
  margin: 20px;
  max-width: 80%;
  height: 50px;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fafafa;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  border: none;
  outline: none;
}

.play-btn-watch{
  color: black;
  background-color: #fafafa;
  transition: ease-out 0.2s;
}

.play-btn-watch:hover{
  color: #fafafa;
  box-shadow: inset 150px 0 0 0 var(--main-color);

}

.play-btn-info:hover{
  background: rgba(240, 228, 228, 0.5);
  color: #fafafa;
}

.fa-play, .fa-plus{
  margin-right: 10px;
}

.play-btn-info .fa-info-circle{
  margin-right: 10px;
}

.stream-list-container{
  padding: 20px 20px;
  background-image: radial-gradient(circle, #2c2a2a, #010101);
}

.stream-list-header{
  color: #fafafa;
  margin: 10px 30px;
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding-left: 20px;
  border-left: 5px solid var(--main-color);
  height: 50px;
}

.stream-list{
  display: flex;
  align-items: center;
  margin: 0 10px 0 15px;
  width: 95vw;
  
  position: relative;
}

.prev-arrow, 
.next-arrow{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  top: 50%;
  line-height: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 2rem;  
  cursor: pointer;
  z-index: 1;
}

.prev-arrow{
  left: 10px;
}

.next-arrow{
  right: 20px;
}

.prev-arrow:hover, 
.next-arrow:hover{
  color: var(--main-color);
}

/********
 STREAMING LIST SECTION 
 ********/

.stream-list-container{
  color: #fafafa;
  position: relative;
  overflow: hidden; 
}

.stream-list-item:hover .stream-list-item-img{
  transform: translateY(-10px);
  opacity: 0.2;
}

.stream-list-item:hover .stream-list-item-title, 
.stream-list-item:hover .stream-list-item-rating, 
.stream-list-item:hover .stream-list-item-cast, 
.stream-list-item:hover .watch-now-btn{
  opacity: 1; 
}

.stream-list-item{
  position: relative;
  margin: 10px;
  color: #fafafa;
  /* overflow-wrap: break-word; */
}

.stream-list-item-img{
  position: relative;
  width: 100%;
  height: 350px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.stream-list-item-title{
  font-size: 1.1rem;
  position: absolute;
  top: 40%;
  left: 12px;
  width: 70%;
  opacity: 0;
  font-weight: 700;
  cursor: pointer;
}

.fa-heart{
  margin-left: 10px;
  position: absolute;
}

.fa-heart:hover{
  color: var(--main-color);
}

.fill-heart{
  font-weight: 700;
  color: var(--main-color);
}

/* .far:hover::after{
  content: attr(data-tooltip);
  font-size: 0.5rem;
  position: absolute;
} */

.stream-list-item-rating{
  position: absolute;
  top: 55%;
  margin-top: 10px;
  font-size: 0.9rem;
  left: 10px;
  opacity: 0;
  font-weight: 500;
}

.stream-list-item-rating .rating{
  margin: 5px;
  color: var(--main-color);
}

.stream-list-item-cast{
  display: inline-block;
  position: absolute;
  top: 63%;
  left: 5px;
  width: 80%;
  padding: 10px;
  opacity: 0;
  font-weight: 500;
}

.stream-list-item-cast a{
  color: #fafafa;
}

.watch-now-btn{
  position: absolute;
  border: none;
  border-color: white;
  border-radius: 20px;
  padding: 10px;
  color: black;
  top: 85%;
  left: 25%;
  cursor: pointer;
  opacity: 0;
  box-shadow: 0 0.2rem 0.5rem rgba(189, 187, 187, 0.4);
}

.watch-now-btn:hover{
  background: #cfcbcb;
  background: var(--main-color);
  color: white;
}

.section-title{
  margin: 2rem;
  color: #fafafa;
  text-transform: uppercase;
}

.section-title h1{
  border-left: 5px solid var(--main-color);
  padding: 0 20px;
}

/********
PRICE COMPARISON SECTION 
*********/

.price-comparison{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 3rem;
  padding: 0 3rem;
}

.price-column{
  background-color: #fafafa;
  padding: 2rem;
  margin: 1rem;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 8px 30px rgba(212, 209, 209, 0.3);
  transition: transform 0.3s ease-in;
}

.price-column:hover{
  transform: translateY(-20px);
}

.price-column.popular{
  position: relative;
  padding-top: 1.8rem;
  border-top: 5px solid var(--main-color);
}

.price-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.plan-name{
  margin-bottom: 1rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: "Cairo", sans-serif;
}

.price{
  display: flex;
  font-size: 2rem;
}

.dollar-sign{
  font-size: 1.2rem;
  margin-right: 0.2rem;
}

.per-month{
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 1rem;
}

.divider{
  height: 2px;
  width: 100%;
  background-color: var(--main-color);
  opacity: 0.7;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.price-feature-wrapper{
  display: flex;
  justify-content: center;
}

.price-feature{
  list-style: none;
  padding: 0;
}

.fa-check{
  margin: 0.8rem 0.8rem;
}

.fa-times{
  margin: 0.8rem 0.8rem;
}

.plan-cta{
  margin-top: 1.5rem;
  width: 100%;
  font-size: 1rem;
  padding: 1.1rem 0.5rem;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  background-color: #fafafa;
  cursor: pointer;
  transition: 0.2s;
}

.plan-cta:hover{
  transform: scale(1.1);
}

.price-column.popular .plan-cta{
  background-color: var(--main-color);
  color: #fafafa;
}

/********
FOOTER SECTION
*********/

.footer{
  display: flex;
  justify-content: center;
  background: #141414;
  max-width: 100%;
  position: relative;
}

.footer-logo{
  width: 10rem;
  position: absolute;
  left: 20px;
}

.footer-divider{
  background-color:#636060;
  width: 80%;
  height: 2px;
  position: absolute;
  top: 20%;
  left: 25px;
}

.footer-content {
  margin: 8rem 5rem;
  color: #fafafa;
}

.footer-content h4{
  margin-bottom: 10px;
}

.footer-links{
  list-style: none;
  font-size: 0.9em;
  line-height: 1.5rem;
}

.footer-link{
  text-decoration: none;
  color: #fafafa;
}

.footer-link:hover{
  text-decoration: underline 2px;
  text-underline-position: under;
}

.copyright{
  position: absolute;
  font-size: 0.75rem;
  bottom: 0;
  left:0;
  color: #fafafa;
  margin-left: 20px;
}

.social-media{
  position: absolute;
  margin: 30px; 
  right: 10px;
  bottom: 0;
  color: #fafafa;
}

/* Social Media Links */

.social-media a{
  margin: 5px;
}

.social-media i{
  font-size: 1.5rem;
  color: #c7c2c2;
}

.social-media .fa-facebook-f:hover {
  color: #3b5998;
}

.social-media .fa-instagram:hover{
  color: #f46f30;
}

.social-media .fa-twitter:hover{
  color: #55acee;
}

.social-media .fa-youtube:hover{
  color: #cd201f;
}

/********
RESPONSIVE 
*********/

@media (max-width: 1024px){
  .nav-link{
    margin: 0.8rem;
  }
  .signup{
    margin-right: 10px;
  }
  .featured-info{
    font-size: 0.7em;
    margin-left: -10px;
  }

  .stream-list-item-img{
    width: 100%;
  }

}

@media (max-width: 1000px){
  .nav-link{
    margin: 0.5rem;
  }

  .signup{
    margin-right: 8px;
  }

  .stream-list-item-img{
    max-width: 100%;
  }

  .featured-info{
    font-size: 0.7em;
    margin-left: -10px;
  }
}

@media (max-width: 900px){
  .featured-content-wrapper{
    top: 15%;
  }
  .nav-links{
    font-size: 0.8rem;
  }

  .featured-info{
    font-size: 0.7em;
    margin-left: -10px;
  }

  .search-input{
    height: 2rem;
    width: 10rem;
  }
  
  .price-comparison{
    display: block;
  }

  .price-column{
    width: 80%;
  }
}

@media (max-width: 800px){
  .stream-list-item-img{
    width: 230px;
    margin-right: 5px;
  }

  .next-arrow{
    right: -10px;
  }

  .watch-now-btn{
    left: -5px;
  }

  .stream-list-item-title{
    left: 15px;
  }

  .stream-list-item-rating, 
  .stream-list-item-cast{
    left: 10px;
  }

  .featured-desc{
    line-height: 1.7em;
  }

  .featured-info{
    font-size: 0.7em;
    margin-left: -10px;
  }

  .play-btn-info, 
  .play-btn-watch{
    padding: 0.7em 0.7em;
    height: unset;
    margin-left: 10px;
  }
  .price-comparison{
    display: block;
  }

  .price-column{
    width: 80%;
  }
  .footer-content{
    margin-right: 3rem;
  }
}

@media (max-width:759px){
  .stream-list-item-img{
    width: 250px;
    margin-left: 30px;
  }
  .stream-list-item-title{ 
    left: 10%;
  }
  .stream-list-item-rating, .stream-list-item-cast{
    left: 10%;
  }
  .watch-now-btn{
    left: 10%;
  }
}

@media (max-width: 700px){
  .stream-list-item-img{
    width: 230px;
  }

  .featured-desc{
    font-size: 0.6em;
    line-height: 1.7em;
  }
  .featured-info{
    left: -5px;
  }

  .play-btn-watch, 
  .play-btn-info{
    font-size: 0.6rem;
    padding: 0.5rem 0.5rem;
    margin-left: 10px;
    height: unset;
  }

  .stream-list-item-img{
    margin-left: 10px;
  }

  .watch-now-btn{
    left: 5%;
  }

  .footer-content{
    margin-right: 1.5rem;
  }
}

@media (max-width: 600px){
  .stream-list-item-img{
    width: 250px;
    margin-left: 25%;
  }

  .featured-content-wrapper{
    top: 10%;
  }

  .featured-info{
    font-size: 0.5em;
    margin-left: -10px;
  }

  .play-btn-info, 
  .play-btn-watch{
    font-size: 0.5em;
  }

  .stream-list-item-title{
    left: 5%;
    width: 80%;
  }

  .stream-list-item-rating, 
  .stream-list-item-cast{
    left: 5%;
  }
  .stream-list-item-cast{
    left: 5%;
  }

  .watch-now-btn{
    left: 5%;
  }

  .price-column{
    margin: 50px;
  }

  .footer-content{
    margin-left: 1.2rem;
  }
}

@media (max-width: 500px){
  .featured-desc{
    line-height: 1.4em;
  }
  .stream-list-item-img{
    width: 280px;
    height: 350px;
    margin-left: 50px;
  }

  .stream-list-item-title, 
  .stream-list-item-rating, 
  .stream-list-item-cast{
    left: 13%;
  }

  .stream-list-item-cast{
    width: 60%;
  }

  .watch-now-btn{
    left: 15%;
  }

  .social-media i{
    font-size: 1rem;
  }
  .copyright{
    width: 40%;
  }
  .price-column{
    margin: 50px;
  }

  .footer-content{
    margin-left: 1.5rem;
  }
}

@media (max-width: 470px) {
  .container {
    height: 100%;
  }

  .featured-content-wrapper {
    top: 10%;
  }
  
  .featured-info {
    margin: 0 0 1em;
    font-size: 0.35em;
    left: -3%;
  }

  .featured-desc {
    line-height: 1.4em;
    font-size: 0.5em;
  }

  .play-btn-watch{
    left: -10px;
    height: unset;
  }

  .play-btn-info{
    height: unset;
  }
  .footer-content{
    margin-right: 1rem;
  }
}

@media (max-width: 400px){
  .footer-content{
    margin: 8rem 0.8rem;
  }
  .copyright{
    width: 100%;
  }
}